{% if prometheus %}
    prometheus:
      container_name: {{ slug }}-prometheus
      image: prom/prometheus:v2.21.0
      ports:
        - 9090:9090
      volumes:
        - prometheus:/prometheus
{% endif %}