#!/usr/bin/env python3

def main():
    """ Main entry point of the app """
    print("{{ project_name }} is up and running :) Look into the code_examples folder if you want to try out your services")

    while True:
        pass

if __name__ == "__main__":
    """ This is executed when run from the command line """
    main()