{% if mysql %}mysql-connector-python # MySQL{% endif %}
{% if mariadb %}mariadb # MariaDB{% endif %}
{% if postgres %}psycopg2 # PostgreSQL{% endif %}
{% if mongodb %}pymongo # MongoDB{% endif %}
{% if rabbitmq %}pika # RabbitMQ{% endif %}
{% if nats %}asyncio-nats-client # NATS{% endif %}
{% if nats %}asyncio # NATS{% endif %}
{% if memcached %}pymemcache # Memcached{% endif %}
{% if redis %}redis # Redis{% endif %}