{% if mongodb %}
from pymongo import MongoClient

PORT = 27017

# create an instance of MongoClient()
client = MongoClient(
    host = "{{ slug }}-mongodb" + ":" + str(PORT),
    serverSelectionTimeoutMS = 3000, # 3 second timeout
    username = "{{ mongodb.username }}",
    password = "{{ mongodb.password }}"
)

# get the server information
server_info = client.server_info()
print(server_info)
print("\nserver info keys:", server_info.keys())

# get the MongoDB server version string
print("\nserver version:", server_info["version"])

# get the database_names from the MongoClient()
database_names = client.list_database_names()
print("\ndatabases:", database_names)

# create database & collection instances
db = client.some_db
col = db.some_col

{% endif %}